.reveal {
    --r-main-font: "Atkinson Hyperlegible", system-ui, sans-serif;
    --r-heading-font: "Atkinson Hyperlegible", system-ui, sans-serif;
}

.reveal .slides section {
    text-align: left;
}

.reveal .slides h1,
.reveal .slides h2,
.reveal .slides h3,
.reveal .slides h4 {
    text-align: center;
}

.reveal .mermaid {
    text-align: center;
}
